{% extends "base.html" %}
{% block content %}
{% if session.get("role") == "regular" %}
<div class="container mt-4">
    <h1>Your Inventory</h1>
    {% if inventory %}
        <div class="row">
            {% for book in inventory %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="{{ book['photo_url'] }}" alt="{{ book['title'] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ book['title'] }}</h5>
                        <p class="card-text">Author: {{ book['author'] }}</p>
                        <p class="card-text">Return Date: {{ book['return_date'] }}</p>
                        <a href="/book/{{ book['id'] }}" class="btn btn-primary btn-sm">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No books in your inventory yet.</p>
    {% endif %}
</div>
{% else %}
<p>You do not have access to view this page.</p>
{% endif %}
{% endblock %}
